img{
    width:1500px;
}
h1{
    color:blue;
}
h2{
    color:red;
}
p{
    color:pink;
}
img{
    border:dashed;
}
p{
    text-align:center;
}
body{
    background-image: url("https://img.88tph.com/production/20180510/12522298-1.jpg!/watermark/url/L3BhdGgvbG9nby5wbmc/align/center");
}